/* FONT */
@font-face {
    font-family: Poppins-Regular;
    src: url('../font/poppins/SVN-Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../font/poppins/SVN-Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../font/poppins/SVN-Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('../font/poppins/SVN-Poppins-SemiBold.ttf');
}

:root {
    --bg-primary: #2c55a5;
}

html {
    box-sizing: border-box;
}

body {
    font-family: Poppins-Regular, sans-serif;
    background-color: #f5f5f5;
}

.txt-regular {
    font-family: Poppins-Regular, sans-serif;
}

.txt-medium {
    font-family: Poppins-Medium, sans-serif;
}

.txt-semiBold {
    font-family: Poppins-SemiBold, sans-serif;
}

.txt-bold {
    font-family: Poppins-Bold, sans-serif;
}

.bg-white {
    background-color: #fff;
}

.bg-gray {
    background-color: #f5f5f5;
}

.color-primary {
    background-color: #2c55a5;
}

.h-100vh {
    min-height: 100vh;
}

.b-radius {
    border-radius: 5px;
}

.header-wrapper {
    background-color: #2c55a5;
    width: 100%;
    min-height: 50px;
}

.navbar-nav a {
    color: #fff;
}

.category-title {
    background-color: #2c55a5;
    color: #fff;
}

.product-list {}

.product-item {}

.product-img {
    width: 100%;


}

.product-img img {
    width: 60%;

}

/* login page */



/* footer */
.slogan {
    background-color: var(--bg-primary);
    width: 100%;
    min-height: 10px;
    color: #fff;
}

.slogan-item {
    text-align: center;
    font-family: Poppins-SemiBold;
    padding: 20px 0;
}

.slogan-item i {
    margin-right: 10px;
    font-size: 18px;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
}

.slogan .slogan-item:nth-child(1) i {
    background-color: #94c437;
}

.slogan .slogan-item:nth-child(2) i {
    background-color: #4ca2c9;
    ;
}

.slogan .slogan-item:nth-child(3) i {
    background-color: #fe8010;
}

.info {
    position: relative;
}

.info::after {
    position: absolute;
    content: "";
    display: block;
    top: 10%;
    right: 0;
    width: 0.1rem;
    height: 37rem;
    background-color: #b6b6b6;
}

.service ul {
    list-style-type: none;
    padding-left: 0;
}

.service ul li a {
    color: #333333;
    text-decoration: none;
}

.service ul li {
    animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.service ul li:hover {
    -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-right {
    from {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        color: #333;
    }

    to {
        -webkit-transform: translateX(1.5rem);
        transform: translateX(1.5rem);
        color: #ee4d2d;
    }
}

@keyframes slide-right {
    from {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        color: #333;
    }

    to {
        -webkit-transform: translateX(1.5rem);
        transform: translateX(1.5rem);
        color: #ee4d2d;
    }
}

@-webkit-keyframes slide-left {
    from {
        -webkit-transform: translateX(1.5rem);
        transform: translateX(1.5rem);
        color: #ee4d2d;
    }

    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        color: #333;
    }
}

@keyframes slide-left {
    from {
        -webkit-transform: translateX(1.5rem);
        transform: translateX(1.5rem);
        color: #ee4d2d;
    }

    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        color: #333;
    }
}